/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';

html, body {
  height: 100%;
  background-color: #e6e6e6;
}

body {
  margin: 0 auto;
  max-width: 500px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
